@font-face {
  font-family: "hotel";
  src: url(/fonts/GrandHotel-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "rawe";
  src: url(/fonts/RawengulkDemibold.otf) format("opentype");
}

@font-face {
  font-family: "urw";
  src: url(/fonts/urw_gothic_l_book.ttf) format("truetype");
}

/* line 15, ../sass/home.sass */
body {
  background-color: #f9b52c;
}

/* line 18, ../sass/home.sass */
h1 {
  font-family: urw;
  font-size: 2em;
  text-transform: uppercase;
}

/* line 23, ../sass/home.sass */
small {
  font-family: "urw";
  font-size: 0.8em;
  color: #1d4165;
}

/* line 29, ../sass/home.sass */
.banner {
  padding-top: 20px;
}

/* line 32, ../sass/home.sass */
.burbuja {
  margin-top: -160px;
}

/* line 35, ../sass/home.sass */
.carousel-caption {
  background-color: yellow;
}

/* line 38, ../sass/home.sass */
.carousel-control {
  width: 0;
}

/* line 44, ../sass/home.sass */
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 20px;
}

/* line 50, ../sass/home.sass */
.contactanos-titulo {
  padding-bottom: 10px;
}

/* line 53, ../sass/home.sass */
.fa {
  color: #1d4165;
}

/* line 56, ../sass/home.sass */
.galeria {
  padding-top: 20px;
}

/* line 59, ../sass/home.sass */
.historia {
  color: white;
  padding-top: 10px;
}

/* line 63, ../sass/home.sass */
.historia-marco {
  background-color: rgba(30, 65, 101, 0.5);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

/* line 70, ../sass/home.sass */
.historia-resalta {
  color: #f9b52c;
}

/* line 73, ../sass/home.sass */
.historia-titulo {
  padding-bottom: 10px;
}

/* line 76, ../sass/home.sass */
.imagen-todos {
  border: solid 2px white;
  margin-top: 15px;
}

/* line 80, ../sass/home.sass */
.img-producto {
  height: 450px !important;
}

/* line 83, ../sass/home.sass */
.logo {
  width: 200px;
  margin-top: 2px;
}

/* line 87, ../sass/home.sass */
.navbar {
  height: 40px;
  min-height: 40px;
}

/* line 91, ../sass/home.sass */
.navbar-default {
  background-color: #1d4165;
  border: none;
  font-family: urw;
  height: 40px;
  padding-left: 150px;
  padding-right: 150px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(left, #1d4165, #050e2d);
  background: -o-linear-gradient(right, #1d4165, #050e2d);
  background: -moz-linear-gradient(right, #1d4165, #050e2d);
  background: linear-gradient(to right, #1d4165, #050e2d);
}

/* line 110, ../sass/home.sass */
.navbar-nav > li > a {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 115, ../sass/home.sass */
.nav > li > a {
  padding-left: 8px;
  padding-right: 8px;
}

/* line 120, ../sass/home.sass */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

/* line 125, ../sass/home.sass */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
}

/* line 131, ../sass/home.sass */
.parallax-contacto {
  height: 550px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/burbujas4.png");
}

/* line 138, ../sass/home.sass */
.parallax-historia {
  height: 650px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/burbujas3.png");
}

/* line 145, ../sass/home.sass */
.parallax-productos {
  height: 850px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/burbujas2.png");
}

/* line 152, ../sass/home.sass */
.parallax-video {
  height: 650px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/burbujas1.png");
}

/* line 159, ../sass/home.sass */
.pequenia {
  height: 65px;
  width: auto;
}

/* line 163, ../sass/home.sass */
.separador {
  border-top: solid 1px;
  border-color: #f9b52c;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 170, ../sass/home.sass */
.titulo {
  height: 48px;
}

/* line 173, ../sass/home.sass */
.video {
  border-bottom: solid 7px #f9b52c;
  border-top: solid 7px #f9b52c;
  border-left: solid 9px #f9b52c;
  border-right: solid 9px #f9b52c;
}

/* line 180, ../sass/home.sass */
#contacto {
  background-color: #eaf5f7;
  color: #1d4165;
  padding-bottom: 50px;
  padding-top: 90px;
}

/* line 187, ../sass/home.sass */
#historia {
  background-color: #1f5285;
  color: #eaf5f7;
  padding-bottom: 100px;
  padding-top: 140px;
}

/* line 194, ../sass/home.sass */
#productos {
  background-color: #f9b52c;
  color: #1d4165;
  padding-bottom: 100px;
  padding-top: 90px;
  position: relative;
  margin: 0 auto;
  min-height: 800px;
}

/* line 204, ../sass/home.sass */
#productos article {
  position: absolute;
}

/* line 207, ../sass/home.sass */
#video {
  background-color: #eaf5f7;
  margin-top: 40px;
  padding-bottom: 50px;
  padding-top: 120px;
}
