@font-face {
  font-family: "claire";
  src: url(/fonts/ClaireHandRegular.otf) format("opentype");
  font-family: "rawe";
  src: url(/fonts/RawengulkDemibold.otf) format("opentype");
}

/* line 7, ../sass/home.sass */
body {
  background-color: #f9b52c;
}

/* line 10, ../sass/home.sass */
small {
  font-family: rawe;
  font-size: 0.9em;
  color: #1d4165;
}

/* line 16, ../sass/home.sass */
.burbuja {
  margin-top: -160px;
}

/* line 19, ../sass/home.sass */
.carousel-control {
  width: 0;
}

/* line 22, ../sass/home.sass */
.fa {
  color: #1d4165;
}

/* line 25, ../sass/home.sass */
.img-producto {
  height: 450px;
}

/* line 28, ../sass/home.sass */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 450px;
}

/* line 31, ../sass/home.sass */
.logo {
  width: 200px;
  margin-top: 2px;
}

/* line 35, ../sass/home.sass */
.navbar {
  height: 40px;
  min-height: 40px;
}

/* line 39, ../sass/home.sass */
.navbar-default {
  background-color: #1d4165;
  border: none;
  font-family: claire;
  height: 40px;
  padding-left: 150px;
  padding-right: 150px;
}

/* line 49, ../sass/home.sass */
h1 {
  font-family: claire;
}

/* line 52, ../sass/home.sass */
.historia {
  color: white;
}

/* line 55, ../sass/home.sass */
.historia-marco {
  background-color: rgba(30, 65, 101, 0.5);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

/* line 62, ../sass/home.sass */
.historia-resalta {
  color: #f9b52c;
}

/* line 68, ../sass/home.sass */
.navbar-nav > li > a {
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 73, ../sass/home.sass */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}

/* line 78, ../sass/home.sass */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
}

/* line 84, ../sass/home.sass */
.separador {
  border-top: solid;
  border-color: #f9b52c;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* line 91, ../sass/home.sass */
#video {
  background-color: #f9b52c;
  margin-bottom: 70px;
  margin-top: 70px;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* line 100, ../sass/home.sass */
#productos {
  background-color: #eaf5f7;
  color: #1d4165;
  padding-bottom: 100px;
  padding-top: 80px;
}

/* line 107, ../sass/home.sass */
#historia {
  background-color: #1f5285;
  color: #eaf5f7;
  padding-bottom: 100px;
  padding-top: 50px;
}

/* line 114, ../sass/home.sass */
#contacto {
  background-color: #eaf5f7;
  color: #1d4165;
  padding-bottom: 50px;
  padding-top: -20px;
}
